#Api configuration
fastapi==0.111.0
uvicorn==0.29.0
fastapi_pagination

#Miscelaneous configuration
pydantic==2.7.1

#DB configuration
SQLAlchemy==2.0.30
psycopg2-binary
alembic==1.13.1

#Test configuration
pytest==8.2.0
pytest-cov~=5.0.0
pytest-mock==3.14.0